.nav-link.active {
  color: #fff !important;
  background: transparent !important;
  box-shadow: none !important;
}

.nav-link:focus, .nav-link:active {
  color: #fff !important;
  background: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}

.nav-link.active {
  position: relative;
  color: #000;
  text-decoration: none;
}

.nav-link.active::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #cacaca;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link.active::before {
  transform: scaleX(1);
}

.navbar-light .nav-link {
  color: darkslategrey !important;
}

.navbar-light .nav-link.active {
  color: rgb(17, 17, 17) !important;
}

.navbar-light .nav-link::before {
  background-color: rgb(37, 37, 37);
}

.navbar-dark .nav-link::before {
  background-color: #c0c0c0;
}